##         INDIAN START_UP FUNDING ANALYSIS

### BUSINESS UNDERSTANDING

BACKGROUND: India has emerged as one of the most dynamic startup ecosystem attracting significant investment and fostering innovation accross various sectors. As our team plans to venture into this market, it is crucial to understand the key trends , investor patterns and sector specific insights to make informed strategic decisions.


OBJECTIVE : To comprehensively analyze the Indian Startup Ecosystem from 2018 to 2021, identify key trends and insights and provide data driven recommendations for strategic entry and investment opportunities in the indian startup market.

### UNDERSTANDING THE DATA

In [23]:
#!pip install pyodbc  
#!pip install python-dotenv

In [24]:
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings 

warnings.filterwarnings('ignore')

In [25]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('database_connection.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

In [26]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [27]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection = pyodbc.connect(connection_string)

In [28]:
# Now the sql query to get the data is what what you see below. 
# Note that you will not have permissions to insert delete or update this database table. 

# Now the SQL query to get data from the tables
query1 = "SELECT * FROM dbo.LP1_startup_funding2020"
query2 = "SELECT * FROM dbo.LP1_startup_funding2021"

# Execute the queries and load the data into pandas DataFrames
data_2020 = pd.read_sql(query1, connection)
data_2021 = pd.read_sql(query2, connection)

In [29]:
data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [30]:
data_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [31]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [32]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [33]:
data_2020.shape

(1055, 10)

In [34]:
data_2021.shape

(1209, 9)

In [35]:
data_2019 =pd.read_csv(r"C:\Users\magyir\Documents\New folder\Team-Belize-Live-Project-1\Notebooks\startup_funding2019.csv")
data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [36]:
data_2019.shape

(89, 9)

In [37]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [38]:
data_2018=pd.read_csv(r"C:\Users\magyir\Documents\New folder\Team-Belize-Live-Project-1\Notebooks\startup_funding2018.csv")
data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [39]:
data_2018.shape

(526, 6)

In [40]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

DATA CLEANING AND PROCESSING

In [41]:


# Standardize column names for 2018 data to match others
data_2018.columns = ['Company/Brand', 'Sector', 'Stage', 'Amount', 'HeadQuarter', 'What it does']
data_2018['Founded'] = None  # Add missing columns with None values
data_2018['Founders'] = None
data_2018['Investor'] = None

# Select relevant columns from 2018 data
data_2018 = data_2018[['Company/Brand', 'Founded', 'Sector', 'What it does', 'Amount', 'Stage']]

# Standardize columns for 2019, 2020, and 2021 data
data_2019 = data_2019[['Company/Brand', 'Founded','Sector', 'What it does', 'Amount($)', 'Stage']]
data_2020 = data_2020[['Company_Brand', 'Founded', 'Sector', 'What_it_does', 'Amount','Stage']]
data_2021 = data_2021[['Company_Brand', 'Founded', 'Sector', 'What_it_does', 'Amount','Stage']]

# Rename columns to maintain consistency
data_2019.columns = ['Company/Brand', 'Founded', 'Sector', 'What it does', 'Amount', 'Stage']
data_2020.columns = ['Company/Brand', 'Founded', 'Sector', 'What it does', 'Amount', 'Stage']
data_2021.columns = ['Company/Brand', 'Founded', 'Sector', 'What it does', 'Amount', 'Stage']

# Combine all data into a single DataFrame based on common columns
combined_data = pd.concat([data_2018, data_2019, data_2020, data_2021], ignore_index=True)

# Display the first few rows of the combined dataset
combined_data.head()

,Company/Brand,Founded,Sector,What it does,Amount,Stage
0,TheCollegeFever,NaN,"Brand Marketing, Event Promotion, Marketing, S...","TheCollegeFever is a hub for fun, fiesta and f...",250000,Seed
1,Happy Cow Dairy,NaN,"Agriculture, Farming",A startup which aggregates milk from dairy far...,"₹40,000,000",Seed
2,MyLoanCare,NaN,"Credit, Financial Services, Lending, Marketplace",Leading Online Loans Marketplace in India,"₹65,000,000",Series A
3,PayMe India,NaN,"Financial Services, FinTech",PayMe India is an innovative FinTech organizat...,2000000,Angel
4,Eunimart,NaN,"E-Commerce Platforms, Retail, SaaS",Eunimart is a one stop solution for merchants ...,—,Seed

In [42]:
combined_data.tail()

,Company/Brand,Founded,Sector,What it does,Amount,Stage
2874,Gigforce,2019.0,Staffing & Recruiting,A gig/on-demand staffing company.,$3000000,Pre-series A
2875,Vahdam,2015.0,Food & Beverages,VAHDAM is among the world’s first vertically i...,$20000000,Series D
2876,Leap Finance,2019.0,Financial Services,International education loans for high potenti...,$55000000,Series C
2877,CollegeDekho,2015.0,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",$26000000,Series B
2878,WeRize,2019.0,Financial Services,India’s first socially distributed full stack ...,$8000000,Series A

In [43]:
# Display information about the combined dataset
print(combined_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2879 non-null   object
 1   Founded        2110 non-null   float64
 2   Sector         2861 non-null   object
 3   What it does   2879 non-null   object
 4   Amount         2622 non-null   object
 5   Stage          1941 non-null   object
dtypes: float64(1), object(5)
memory usage: 135.1+ KB
None